*{
    padding: 0;
}


.out{
    border: 1px rgb(73, 72, 72) solid;
    border-radius: 5px;
    position: relative;
}
img{
    position: absolute;
    margin-left: 350px;
}
h2 {
	font-size: 35px;
	color: rgb(224, 154, 22);
}
.first{
    color: grey;
	line-height: 12px;

}
p{
    font-size: 14px;
}
input{
    height: 50px;
    border-radius: 5px;
    border: 1px solid grey;
}
h6{
    color: rgb(75, 73, 73);
}
.soumettre{
    color: white;
}

.oni {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding:6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }